{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome, {{user.username.title|default:'Guest'}}</h1>
    <p class="lead">
        Welcome to 2102172 - Shaun's <b>Super Secure Application</b> built on Django
    </p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
        {% endif %}
        <a class="btn btn-secondary btn-lg" href="search/" role="button">Search</a>
    </p>
</div>

{% endblock content %}